* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

#ddMenu {
  width: 100%;
  height: 30px;
  background-color: blanchedalmond;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
}

#ddMenu.hovered {
  background-color: #ffd597;
}

#ddButtons {
  position: absolute;
  top: 30px;
  width: 40%;
  height: 88px;
  display: flex;
  flex-direction: column;
}

#ddButtons > button {
  height: 30px;
  border: 1px solid #ffd597;
  border-radius: 0;
  background-color: blanchedalmond;
}

#ddButtons > button:not(:first-child) {
  margin-top: -1px;
}

#ddButtons > button:hover {
  background-color: #fdc46e;
}

#ddButtons > button:active {
  background-color: #ffb342;
}

#short {
  display: none;
}

#ddMenu > p {
  display: inline-block;
}

#slider {
  display: grid;
  overflow-x: hidden;
}

#imagesDiv {
  display: flex;
  scroll-behavior: smooth;
}

#imagesDiv {
  z-index: -1;
}

#imagesDiv > div > img {
  vertical-align: middle;
  width: 100vw;
  height: 100vh;
}

#sliderLeft {
  position: absolute;
  top: 50%;
  left: 0;
}

#sliderRight {
  position: absolute;
  top: 50%;
  right: 0;
}

.hidden {
  display: none;
}

#sliderRight,
#sliderLeft {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  display: flex;
  align-items: center;
  transition: 0.6s ease;
}

#sliderRight {
  border-radius: 5px 0 0 5px;
}

#sliderLeft {
  border-radius: 0 5px 5px 0;
}

#sliderRight:hover,
#sliderLeft:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

#nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 50%;
  transform: translate(50%);
  bottom: 10px;
}

.circle {
  display: inline-block;
  cursor: pointer;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: blanchedalmond;
  margin: 0 2px;
  transition: background-color 0.6s ease;
}

.active,
.circle:hover {
  background-color: #fdc46e;
}

.fade {
  animation: fade ease 1.5s;
  -webkit-animation: fade ease 1.5s;
  -moz-animation: fade ease 1.5s;
  -o-animation: fade ease 1.5s;
  -ms-animation: fade ease 1.5s;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  #ddMenu {
    width: 40px;
    height: 40px;
    background-color: blanchedalmond;
    display: flex;
    justify-content: start;
    align-items: center;
  }

  #short {
    width: inherit;
    display: inline-block;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #ddMenu > p {
    display: none;
  }

  #ddMenu:hover {
    width: 100%;
  }

  #ddButtons {
    position: absolute;
    top: 40px;
    background-color: #fdc46e;
    height: 100vh;
    width: 100%;
    z-index: 200;
  }

  #ddButtons > button {
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: #ffd597;
    border-color: #ffb342;
    padding-left: 5px;
  }

  .closeButton {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    display: flex;
    align-items: center;
  }

  .closed {
    width: 40px !important;
  }
}
